<div class="arrival-container">
  <h2 class="title">Arrival</h2>
  <div class="empty">
    <h3>Empty</h3>
    <img src="../../assets/trailerEmpty.svg" alt="empty trailer" />
    <div class="confirm">
      <img src="../../assets/yes.svg" alt="yes" class="tick" />
      <img src="../../assets/no.svg" alt="no" class="cross" />
    </div>
  </div>
  <div class="returning-goods">
    <h3>Returning Goods</h3>
    <img src="../../assets/returningGoods.svg" alt="returning goods" />
    <div class="confirm">
      <img src="../../assets/yes.svg" alt="yes" class="tick" />
      <img src="../../assets/no.svg" alt="no" class="cross" />
    </div>
  </div>
  <div class="arrow-back" routerLink="/step-three">
    <img src="../../assets/back.svg" alt="arrow back" />
  </div>
  <div class="arrow-next" routerLink="/step-five">
    <img src="../../assets/next.svg" alt="arrow back" />
  </div>
</div>
