<section class="section">
  <button routerLink="/arrival-departure">
    <img class="arrow" src="../../assets/svg/back.svg" alt="arrow back" />
  </button>
  <article class="article-secondary">
    <h2>{{ 'arrival' | translate }}</h2>
    <div class="arrivals-wraper">
      <article class="arrival">
        <h3>{{ 'empty' | translate }}</h3>
        <a routerLink="/print">
          <img src="../../assets/svg/trailerEmpty.svg" alt="empty trailer" />
        </a>
        <div class="confirm">
          <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
          <img src="../../assets/svg/no.svg" alt="no" class="cross" />
        </div>
      </article>
      <article class="arrival">
        <h3>{{ 'return' | translate }}</h3>
        <a routerLink="/print">
          <img
            src="../../assets/svg/returningGoods.svg"
            alt="returning goods"
          />
        </a>
        <div class="confirm">
          <button alt="yes" class="tick">L</button>
          <button alt="no" class="cross">&#9587;</button>
        </div>
      </article>
    </div>
  </article>
  <button routerLink="/print">
    <img class="arrow" src="../../assets/svg/next.svg" alt="arrow next" />
  </button>
</section>
