<section class="drivers-register-container">
  <div class="title">
    <h4>Drivers Register</h4>
  </div>
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input
      type="hidden"
      name="id"
      #id="ngModel"
      [(ngModel)]="service.formData.id"
    />
    <div class="input-wraper">
      <mat-form-field>
        <input
          matInput
          name="companyName"
          #companyName="ngModel"
          [(ngModel)]="service.formData.companyName"
          placeholder="Company Name"
          required
        />
      </mat-form-field>
      <div
        *ngIf="companyName.invalid && companyName.touched"
        class="validation-error"
      >
        This field is required.
      </div>
    </div>

    <div class="input-wraper">
      <mat-form-field>
        <input
          matInput
          name="trailerNumber"
          #trailerNumber="ngModel"
          [(ngModel)]="service.formData.trailerNumber"
          placeholder="Trailer Number"
          required
        />
      </mat-form-field>
      <div
        *ngIf="trailerNumber.invalid && trailerNumber.touched"
        class="validation-error"
      >
        This field is required.
      </div>
    </div>

    <div class="input-wraper">
      <mat-form-field>
        <input
          matInput
          type="time"
          name="arrivalTime"
          #arrivalTime="ngModel"
          [(ngModel)]="service.formData.arrivalTime"
          placeholder="Arrival Time"
          required
        />
      </mat-form-field>
      <div
        *ngIf="arrivalTime.invalid && arrivalTime.touched"
        class="validation-error"
      >
        This field is required.
      </div>
    </div>

    <div class="input-wraper">
      <mat-form-field>
        <input
          matInput
          name="transportNumber"
          #transportNumber="ngModel"
          [(ngModel)]="service.formData.transportNumber"
          placeholder="Transport Number"
          required
          type="number"
        />
      </mat-form-field>
      <div
        *ngIf="transportNumber.invalid && transportNumber.touched"
        class="validation-error"
      >
        This field is required.
      </div>
    </div>

    <div class="input-wraper">
      <mat-form-field>
        <input
          matInput
          name="destination"
          #destination="ngModel"
          [(ngModel)]="service.formData.destination"
          placeholder="Destination"
          required
        />
      </mat-form-field>
      <div
        *ngIf="destination.invalid && destination.touched"
        class="validation-error"
      >
        This field is required.
      </div>
    </div>
    <div class="input-wraper">
      <mat-form-field>
        <input
          matInput
          name="fullName"
          #fullName="ngModel"
          [(ngModel)]="service.formData.fullName"
          placeholder="Full Name"
          required
        />
      </mat-form-field>
      <div
        *ngIf="fullName.invalid && fullName.touched"
        class="validation-error"
      >
        This field is required.
      </div>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</section>
