<section class="warehouse-container">
  <div class="warehouse-img">
    <img src="../../assets/svg/warehouse.svg" alt="warehouse" />
  </div>
  <article class="warehouse">
    <a routerLink="/arrival">
      <img src="../../assets/svg/truckArriving.svg" alt="truck arriving" />
    </a>
    <button class="button" routerLink="/arrival">
      {{ 'arrival' | translate }}
    </button>
  </article>

  <article class="warehouse">
    <a routerLink="/departure">
      <img src="../../assets/svg/truckLeaving.svg" alt="truck leaving" />
    </a>
    <button class="button" routerLink="/departure">
      {{ 'departure' | translate }}
    </button>
  </article>

  <button routerLink="/transport-number">
    <img class="arrow" src="../../assets/svg/back.svg" alt="arrow back" />
  </button>
</section>
