<section class="section section-modified">
  <button routerLink="/transport-number">
    <img class="arrow" src="../../assets/svg/back.svg" alt="arrow back" />
  </button>
  <article class="article">
    <div class="warehouse-img">
      <img src="../../assets/svg/warehouse.svg" alt="warehouse" />
    </div>
    <div class="trucks-wrapper">
      <article class="truck-container">
        <a routerLink="/arrival">
          <img src="../../assets/svg/truckArriving.svg" alt="truck arriving" />
        </a>
        <button class="button" routerLink="/arrival">
          {{ 'arrival' | translate }}
        </button>
      </article>

      <article class="truck-container">
        <a routerLink="/departure">
          <img src="../../assets/svg/truckLeaving.svg" alt="truck leaving" />
        </a>
        <button class="button" routerLink="/departure">
          {{ 'departure' | translate }}
        </button>
      </article>
    </div>
  </article>
  <!-- <button routerLink="/transport-number">
    <img class="arrow" src="../../assets/svg/back.svg" alt="arrow back" />
  </button> -->
</section>
