/* We need this because one arrow is missing  */
.section-modified {
  grid-template-columns: max-content auto 7.5rem;
}
.trucks-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.truck-container {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 5rem;
}
