<div class="warehouse-container">
  <div class="warehouse">
    <img src="../../assets/warehouse.svg" alt="warehouse" />
  </div>
  <div class="warehouse-arrival">
    <img src="../../assets/truckArriving.svg" alt="truck arriving" />
    <button routerLink="/step-four-a">Arrival</button>
  </div>

  <div class="warehouse-departure">
    <img src="../../assets/truckLeaving.svg" alt="truck leaving" />
    <button routerLink="/step-four-b">Departure</button>
  </div>

  <div class="arrow-back" routerLink="/step-two">
    <img src="../../assets/back.svg" alt="arrow back" />
  </div>
</div>
