<section class="section-quiz">
  <mat-card *ngIf="quizService.questions">
    <div [style.width.%]="(quizService.questionProgress + 1) * 7"></div>
    <div *ngIf="quizService.questions[quizService.questionProgress]">
      <mat-card-title>
        <span>{{ quizService.questionProgress + 1 }} / 7</span>
        {{ quizService.questions[quizService.questionProgress].getQuestion() }}
      </mat-card-title>
      <div>
        <mat-grid-list cols="2" rowHeight="15rem:10rem" gutterSize="1rem">
          <ng-container
            *ngFor="
              let option of quizService.questions[
                quizService.questionProgress
              ].getAnswers()
            "
          >
            <mat-grid-tile
              *ngIf="option != null"
              class="collection-item"
              (click)="answerQuestion(option)"
            >
              <p>{{ option }}</p>
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>
      </div>
    </div>
  </mat-card>
</section>
