.section-quiz {
  display: grid;
  max-width: 100%;
  min-height: 100vh;
  padding: 3.5rem 3.5rem;
  align-items: center;
  justify-content: center;
}

mat-card-title {
  height: 13rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #474747;
  padding: 0.5rem 0rem;
}

mat-card-title span {
  display: block;
  color: #25ae88;
}

mat-grid-tile {
  cursor: pointer;
  background-color: rgba(37, 174, 136, 0.8);
  text-align: center;
  border-radius: 5px;
}

mat-grid-tile p {
  padding: 2rem;
  color: #ffffff;
}

mat-grid-tile:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
mat-card {
  width: 500px;
  padding: 3rem;
}
