/*----------------- TABLES ---------------------- */
.table {
  background-color: #ffffff;
  text-align: left;
}
thead {
  background-color: #25ae88;
  color: #efefef;
  padding: 4rem;
}
thead th:first-child,
tbody tr td:first-child {
  padding-left: 3rem;
}

thead th:last-child,
tbody tr td:last-child {
  padding-right: 3rem;
}

th {
  font-weight: 400;
  font-size: 1rem;
}

th,
td {
  padding: 1rem 0.75rem;
}
th {
  padding: 2rem 0.75rem;
}

td {
  border-bottom: 1px solid rgba(71, 71, 71, 0.3);
}
/* Alligning icons in table */
td:nth-child(7),
td:last-child {
  text-align: center;
  color: #d75a4a;
}

td:nth-child(7) i.material-icons {
  color: #ff9533;
}
/*-------------------------------------------- */
