<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Trailer</th>
    <th>Mobile</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let driver of list">
      <td (click)="onEdit(driver)">{{ driver.fullName }}</td>
      <td (click)="onEdit(driver)">{{ driver.trailerNumber }}</td>
      <td (click)="onEdit(driver)">{{ driver.mobile }}</td>
      <td (click)="onDelete(driver.id)">
        <fa-icon [icon]="faTrash" class="text-danger"></fa-icon>
      </td>
    </tr>
  </tbody>
</table>
