<table class="table table-hover">
  <thead>
    <th>{{ 'companyName' | translate }}</th>
    <th>{{ 'trailerNumber' | translate }}</th>
    <th>{{ 'arrivalTime' | translate }}</th>
    <th>{{ 'transportNumber' | translate }}</th>
    <th>{{ 'destination' | translate }}</th>
    <th>{{ 'fullName' | translate }}</th>
    <th>{{ 'edit' | translate }}</th>
    <th>{{ 'delete' | translate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let driver of list">
      <td (click)="onEdit(driver)">{{ driver.companyName }}</td>
      <td (click)="onEdit(driver)">{{ driver.trailerNumber }}</td>
      <td (click)="onEdit(driver)">{{ driver.arrivalTime }}</td>
      <td (click)="onEdit(driver)">{{ driver.transportNumber }}</td>
      <td (click)="onEdit(driver)">{{ driver.destination }}</td>
      <td (click)="onEdit(driver)">{{ driver.fullName }}</td>
      <td (click)="onEdit(driver)">
        <i class="material-icons secondary-form-icon">edit</i>
      </td>
      <td (click)="onDelete(driver.id)">
        <i class="material-icons secondary-form-icon">delete</i>
      </td>
    </tr>
  </tbody>
</table>
