/*----------------- TABLES ---------------------- */
.table {
  background-color: #ffffff;
  text-align: left;
}
thead {
  background-color: #25ae88;
  color: #efefef;
}

th {
  font-weight: 400;
  font-size: 1.4rem;
}

th,
td {
  padding: 1rem 2rem;
}

td {
  border-bottom: 1px solid rgba(71, 71, 71, 0.3);
}
/* Alligning icons in table */
td:nth-child(7),
td:last-child {
  text-align: center;
  color: #d75a4a;
}

td:nth-child(7) i.material-icons {
  color: #ff9533;
}
/*-------------------------------------------- */
