.login-wrapper {
  padding: 4rem 6rem;
}

.login-content {
  display: grid;
}
.actions-content {
  width: 100%;
  text-align: center;
}
.login-helper {
  color: #bdbdbd;
}

.login-helper span {
  color: #25ae88;
}
