.drag-drop {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 4rem;
}

.card {
  margin: 1rem 0;
}
.drop-area {
  border: 3px dotted #474747;
}

.drop-area,
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 45rem;
  min-width: 30rem;
  justify-items: center;
  align-items: center;
}
.icon-drag {
  height: 10rem;
}
