<div
  class="list"
  cdkDropList
  #allList="cdkDropList"
  [cdkDropListData]="all"
  [cdkDropListConnectedTo]="[allList, mandatoryList, prohibitedList]"
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListEnterPredicate]="noReturnPredicate"
>
  <h2>All items:</h2>
  <mat-card *ngFor="let item of all" [cdkDragData]="item.category" cdkDrag>
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

<div
  class="list"
  cdkDropList
  #mandatoryList="cdkDropList"
  [cdkDropListData]="mandatory"
  [cdkDropListConnectedTo]="[allList, mandatoryList, prohibitedList]"
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListEnterPredicate]="mandatoryPredicate"
>
  <h2>Mandatory:</h2>
  <mat-card
    *ngFor="let item of mandatory"
    [cdkDragData]="item.category"
    cdkDrag
  >
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
<div
  class="list"
  cdkDropList
  #prohibitedList="cdkDropList"
  [cdkDropListData]="prohibited"
  [cdkDropListConnectedTo]="[allList, mandatoryList, prohibitedList]"
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListEnterPredicate]="prohibitedPredicate"
>
  <h2>Prohibited:</h2>
  <mat-card
    *ngFor="let item of prohibited"
    [cdkDragData]="item.category"
    cdkDrag
  >
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
