<section class="section-mod">
  <button class="arrow back" routerLink="/" alt="previous step">
    &#10132;
  </button>
  <article class="article-content">
    <div class="drag-drop">
      <section>
        <h5>Mandatory:</h5>
        <div
          class="drop-area"
          cdkDropList
          #mandatoryList="cdkDropList"
          [cdkDropListData]="mandatory"
          [cdkDropListConnectedTo]="[allList, mandatoryList, prohibitedList]"
          (cdkDropListDropped)="onDrop($event)"
          [cdkDropListEnterPredicate]="mandatoryPredicate"
        >
          <div
            *ngFor="let item of mandatory"
            [cdkDragData]="item.category"
            cdkDrag
          >
            <img class="icon-drag" src="{{ item.img }}" alt="{{ item.name }}" />
          </div>
        </div>
      </section>
      <section>
        <h5 class="title">All items:</h5>
        <div
          class="list"
          cdkDropList
          #allList="cdkDropList"
          [cdkDropListData]="all"
          [cdkDropListConnectedTo]="[allList, mandatoryList, prohibitedList]"
          (cdkDropListDropped)="onDrop($event)"
          [cdkDropListEnterPredicate]="noReturnPredicate"
        >
          <div *ngFor="let item of all" [cdkDragData]="item.category" cdkDrag>
            <img class="icon-drag" src="{{ item.img }}" alt="{{ item.name }}" />
          </div>
        </div>
      </section>

      <section>
        <h5>Prohibited:</h5>
        <div
          class="drop-area"
          cdkDropList
          #prohibitedList="cdkDropList"
          [cdkDropListData]="prohibited"
          [cdkDropListConnectedTo]="[allList, mandatoryList, prohibitedList]"
          (cdkDropListDropped)="onDrop($event)"
          [cdkDropListEnterPredicate]="prohibitedPredicate"
        >
          <div
            *ngFor="let item of prohibited"
            [cdkDragData]="item.category"
            cdkDrag
          >
            <img class="icon-drag" src="{{ item.img }}" alt="{{ item.name }}" />
          </div>
        </div>
      </section>
    </div>
  </article>
</section>
