<mat-step formGroupName="0" [stepControl]="formArray.get([0])">
  <ng-template matStepLabel>Fill out your name</ng-template>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput formControlName="firstNameFormCtrl" required />
    <mat-error>This field is required</mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="firstSafetyFormCtrl" value="YES"
    >Check me!</mat-checkbox
  >

  <mat-radio-group
    aria-label="Select an option"
    formControlName="firstSafetyFormCtrl"
  >
    <mat-radio-button value="YES">YES</mat-radio-button>
    <mat-radio-button value="NO">NO</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastNameFormCtrl" required />
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</mat-step>
