.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.safety-container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 3fr 2fr;
}

.title,
.worker,
.safety-items {
  justify-self: center;
  align-self: center;
}

.title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #25ae88;
  text-transform: uppercase;
  font-weight: 700;
}

.worker {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 2rem;
}

.worker img {
  height: 40vh;
}

.safety-items {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
}

.safety-item {
  max-width: 8rem;
  height: auto;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.arrow-back,
.arrow-next {
  justify-self: center;
  align-self: center;
}

.arrow-back img,
.arrow-next img {
  max-width: 5rem;
}

.arrow-back {
  grid-column: 1/2;
  grid-row: 1/4;
}

.arrow-next {
  grid-column: 3/4;
  grid-row: 1/4;
}

.tick,
.cross {
  max-width: 5rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
}
