.safety-items {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-gap: 1rem;
}

.item-container {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-gap: 1rem;
  padding: 0 1.25rem;
}
.confirm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.safety-item {
  width: 8vw;
  justify-self: center;
}
.worker {
  height: 40vh;
}
