<div class="safety-container">
  <h2 class="title">{{ 'safety' | translate }}</h2>
  <div class="worker">
    <img src="../../assets/svg/worker.svg" alt="worker" />
  </div>
  <div class="safety-items">
    <div class="item-container">
      <img
        src="../../assets/svg/glasses.svg"
        alt="glasses"
        class="safety-item"
      />
      <div class="confirm">
        <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
        <img src="../../assets/svg/no.svg" alt="no" class="cross" />
      </div>
    </div>
    <div class="item-container">
      <img
        src="../../assets/svg/headphones.svg"
        alt="headphones"
        class="safety-item"
      />
      <div class="confirm">
        <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
        <img src="../../assets/svg/no.svg" alt="no" class="cross" />
      </div>
    </div>
    <div class="item-container">
      <img src="../../assets/svg/helmet.svg" alt="helmet" class="safety-item" />
      <div class="confirm">
        <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
        <img src="../../assets/svg/no.svg" alt="no" class="cross" />
      </div>
    </div>
    <div class="item-container">
      <img src="../../assets/svg/mask.svg" alt="mask" class="safety-item" />
      <div class="confirm">
        <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
        <img src="../../assets/svg/no.svg" alt="no" class="cross" />
      </div>
    </div>
    <div class="item-container">
      <img src="../../assets/svg/shoes.svg" alt="shoes" class="safety-item" />
      <div class="confirm">
        <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
        <img src="../../assets/svg/no.svg" alt="no" class="cross" />
      </div>
    </div>
    <div class="item-container">
      <img src="../../assets/svg/vest.svg" alt="vest" class="safety-item" />
      <div class="confirm">
        <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
        <img src="../../assets/svg/no.svg" alt="no" class="cross" />
      </div>
    </div>
  </div>
  <div class="arrow-back" routerLink="/">
    <img src="../../assets/svg/back.svg" alt="arrow back" />
  </div>
  <div class="arrow-next" routerLink="/step-two">
    <img src="../../assets/svg/next.svg" alt="arrow next" />
  </div>
</div>
