<h2 class="title">Safety Notice!</h2>
<div class="worker"><img src="../../assets/worker.svg" alt="worker" /></div>
<div class="safety-items">
  <div class="item-container">
    <img src="../../assets/glasses.svg" alt="glasses" class="safety-item" />
    <div class="confirm">
      <img src="../../assets/yes.svg" alt="yes" class="tick" />
      <img src="../../assets/no.svg" alt="no" class="cross" />
    </div>
  </div>
  <div class="item-container">
    <img
      src="../../assets/headphones.svg"
      alt="headphones"
      class="safety-item"
    />
    <div class="confirm">
      <img src="../../assets/yes.svg" alt="yes" class="tick" />
      <img src="../../assets/no.svg" alt="no" class="cross" />
    </div>
  </div>
  <div class="item-container">
    <img src="../../assets/helmet.svg" alt="helmet" class="safety-item" />
    <div class="confirm">
      <img src="../../assets/yes.svg" alt="yes" class="tick" />
      <img src="../../assets/no.svg" alt="no" class="cross" />
    </div>
  </div>
  <div class="item-container">
    <img src="../../assets/mask.svg" alt="mask" class="safety-item" />
    <div class="confirm">
      <img src="../../assets/yes.svg" alt="yes" class="tick" />
      <img src="../../assets/no.svg" alt="no" class="cross" />
    </div>
  </div>
  <div class="item-container">
    <img src="../../assets/shoes.svg" alt="shoes" class="safety-item" />
    <div class="confirm">
      <img src="../../assets/yes.svg" alt="yes" class="tick" />
      <img src="../../assets/no.svg" alt="no" class="cross" />
    </div>
  </div>
  <div class="item-container">
    <img src="../../assets/vest.svg" alt="vest" class="safety-item" />
    <div class="confirm">
      <img src="../../assets/yes.svg" alt="yes" class="tick" />
      <img src="../../assets/no.svg" alt="no" class="cross" />
    </div>
  </div>
</div>
<div class="arrow-back">
  <img src="../../assets/back.svg" alt="arrow back" />
</div>
<div class="arrow-next">
  <img src="../../assets/next.svg" alt="arrow next" />
</div>
