/*--------------- GLOBAL STYLES ----------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import '~ngx-toastr/toastr.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* ---------------- SIMPLE RESET ---------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: 0;
  border-spacing: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Montserrat', Helvetica, Arial, Verdana, Tahoma;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

button,
a:link,
a:visited,
a:hover,
a:active,
table.table-hover {
  cursor: pointer;
  text-decoration: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* -------------- GENERAL STYLES ---------------- */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #efefef;
  color: #474747;
  box-sizing: border-box;
  cursor: default;
  text-transform: uppercase;
}
/*--------------- TYPOGRAPHY ----------------- */
h1,
h2 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #25ae88;
  text-align: center;
}

h3,
h4,
h5 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #474747;
  padding: 0.5rem 0rem;
}
h4,
h5 {
  color: #25ae88;
}
h5 {
  text-align: center;
}
/*--------------- BUTTONS ----------------- */

button {
  cursor: pointer;
  display: inline-block;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.button {
  color: #efefef;
  background-color: #25ae88;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 2.5rem;
  padding: 1.5rem 6rem;
}

.arrow {
  font-size: 5rem;
  font-weight: 300;
  height: 7.5rem;
  width: 7.5rem;
  color: #efefef;
  border-radius: 50%;
  background-color: #25ae88;
  align-self: center;
}
/* This we need to code so arrow will be dissable - for testing I just make dissable */

.back {
  transform: rotate(180deg);
}

/*--------------- MAIN ----------------- */
main {
  height: 100vh;
  padding: 7.5rem 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------- SECTION ----------------- */

.section {
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: 3.5rem 7.5rem;
  grid-template-columns: max-content auto max-content;
}

.article,
.article-secondary {
  display: grid;
  justify-items: center;
  align-content: center;
  grid-gap: 4rem;
  grid-template-rows: repeat(2, max-content);
}
.article-secondary {
  grid-template-rows: repeat(2, max-content);
}

/*----------------- INPUT ------------------------- */
input.mat-input-element {
  font-size: 2rem;
  width: 100%;
}

div.mat-form-field-infix {
  font-size: 1.4rem;
  min-width: 30rem;
  max-width: 100%;
}
.input-wraper {
  min-height: 7rem;
}

/*----------------- VALIDATION ---------------------- */

div.validation-error {
  width: 100%;
  font-size: 1rem;
  color: #d75a4a;
  height: 1rem;
  margin-top: -1rem;
}

/*----------------- MATERIAL ICONS ---------------------- */

.material-icons {
  font-size: 4rem;
  cursor: pointer;
}
div.confirm .material-icons {
  color: #d5d3d2;
  font-size: 5rem;
}
div.confirm .material-icons:hover {
  color: #25ae88;
}

div.confirm .material-icons:nth-child(2):hover {
  color: #d75a4a;
}

div.mat-horizontal-stepper-header-container {
  pointer-events: none !important;
  display: none;
}
