/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #efefef;
  color: #474747;
  box-sizing: border-box;
  cursor: default;
}
