/*--------------- GLOBAL STYLES ----------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import '~ngx-toastr/toastr.css';

/* ---------------- SIMPLE RESET ---------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Montserrat', Helvetica, Arial, Verdana, Tahoma;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

button,
a:link,
a:visited,
a:hover,
a:active,
table.table-hover {
  cursor: pointer;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* -------------- GENERAL STYLES ---------------- */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #efefef;
  color: #474747;
  box-sizing: border-box;
  cursor: default;
  text-transform: uppercase;
}
/*--------------- TYPOGRAPHY ----------------- */
h1,
h2 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #25ae88;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #474747;
  padding: 0.5rem 0rem;
}

p,
input {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #474747;
  text-align: center;
}

input {
  font-size: 2.5rem;
  line-height: 2;
}

/*--------------- BUTTONS ----------------- */

button {
  cursor: pointer;
  display: inline-block;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.button {
  color: #efefef;
  background-color: #25ae88;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 2.5rem;
  padding: 1.5rem 6rem;
}

.arrow {
  font-size: 5rem;
  font-weight: 300;
  height: 7.5rem;
  width: 7.5rem;
  color: #efefef;
  border-radius: 50%;
  background-color: #25ae88;
  align-self: center;
}
/* This we need to code so arrow will be dissable - for testing I just make dissable */
.arrow:hover {
  background-color: #d5d3d2;
}
.back {
  transform: rotate(180deg);
}
.tick,
.cross {
  font-size: 2rem;
  color: #efefef;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.tick {
  background-color: #25ae88;
}
.cross {
  background-color: #d75a4a;
}

/*--------------- MAIN ----------------- */
main {
  height: 100vh;
  padding: 7.5rem 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------- SECTION ----------------- */

.section {
  display: grid;
  width: calc(100vw - 15rem);
  height: calc(100vh - 15rem);
  grid-template-columns: max-content auto max-content;
}

.article,
.article-secondary {
  height: calc(100vh - 15rem);
  display: grid;
  justify-items: center;
  align-content: center;
  grid-gap: 4rem;
  grid-template-rows: repeat(3, max-content);
}
.article-secondary {
  grid-template-rows: repeat(2, max-content);
}

/*----------------- INPUT ------------------------- */
input {
  padding: 0.8rem 10rem;
  border: 3px solid #c4c4c4;
  border-radius: 10rem;
  color: #25ae88;
}

input:focus {
  border: 3px solid #25ae88;
}
input::placeholder {
  opacity: 0.7;
}

/*----------------- VALIDATION ---------------------- */

input.ng-touched.ng-invalid {
  border-color: #d75a4a;
}

div.validation-error {
  width: 100%;
  margin-top: 0.3rem;
  font-size: 1rem;
  color: #d75a4a;
}
