<section class="section">
  <button routerLink="/arrival-departure">
    <img class="arrow" src="../../assets/svg/back.svg" alt="arrow back" />
  </button>
  <article class="article-secondary">
    <h2>{{ 'departure' | translate }}</h2>
    <div class="departures-wrapper">
      <article class="departure">
        <h3>{{ 'load' | translate }}</h3>
        <a routerLink="/print">
          <img src="../../assets/svg/truckLoading.svg" alt="truck loading" />
        </a>
        <div class="confirm">
          <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
          <img src="../../assets/svg/no.svg" alt="no" class="cross" />
        </div>
      </article>
      <article class="departure">
        <h3>{{ 'collect' | translate }}</h3>
        <a routerLink="/print">
          <img src="../../assets/svg/truckReverse.svg" alt="collect loaded" />
        </a>
        <div class="confirm">
          <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
          <img src="../../assets/svg/no.svg" alt="no" class="cross" />
        </div>
      </article>
    </div>
  </article>
  <button routerLink="/print">
    <img class="arrow" src="../../assets/svg/next.svg" alt="arrow back" />
  </button>
</section>
