<div class="departure-container">
  <h2 class="title">{{ 'departure' | translate }}</h2>
  <div class="load">
    <h3>{{ 'load' | translate }}</h3>
    <img src="../../assets/svg/truckLoading.svg" alt="truck loading" />
    <div class="confirm">
      <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
      <img src="../../assets/svg/no.svg" alt="no" class="cross" />
    </div>
  </div>
  <div class="collect-loaded">
    <h3>{{ 'collect' | translate }}</h3>
    <img src="../../assets/svg/truckReverse.svg" alt="collect loaded" />
    <div class="confirm">
      <img src="../../assets/svg/yes.svg" alt="yes" class="tick" />
      <img src="../../assets/svg/no.svg" alt="no" class="cross" />
    </div>
  </div>
  <div class="arrow-back" routerLink="/step-three">
    <img src="../../assets/svg/back.svg" alt="arrow back" />
  </div>
  <div class="arrow-next" routerLink="/step-five">
    <img src="../../assets/svg/next.svg" alt="arrow back" />
  </div>
</div>
