.answers-summary h3,
.answers-summary i.material-icons {
  text-align: center;
  width: 100%;
}
.answers-summary i.material-icons,
.correct-answer {
  color: #25ae88;
}

.incorrect-answer {
  color: #d75a4a;
}

p i.material-icons {
  font-size: 2.3rem;
}

h3 span {
  display: block;
  color: #25ae88;
}

.answer {
  line-height: 4rem;
}
