/* ------------------- Form Group 0 ----------------*/

.form-group1 {
  grid-gap: 4rem;
}

/* ------------------- Form Group 1 [safety]----------------*/

.mat-button-toggle {
  color: #d5d3d2;
}

.mat-button-toggle-checked:nth-child(1) i {
  color: #25ae88;
}

.mat-button-toggle-checked:nth-child(2) i {
  color: #d75a4a;
}

/* ---- Safety items[0] ------ */
.safety-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.item-container {
  display: grid;
  grid-template-rows: max-content max-content;
}

.safety-item {
  width: 9vw;
  justify-self: center;
}
.worker {
  height: 40vh;
  justify-self: center;
}

.icon-container {
  align-items: center;
  display: grid;
}

/* ------------------- Form Group 2[truck inspection] ----------------*/

.inspected-truck {
  height: 25rem;
}

.inspected-grid {
  grid-gap: 2rem;
}

/* ------------------- Form Group 4[Arrival | Departure] ----------------*/

.truck-container {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 5rem;
}
.warehouse-img {
  max-width: 40rem;
}

.truck {
  height: 7rem;
}
.truck-departure {
  height: 8rem;
}

/* ------------------- Form Group 5[Arrival] ----------------*/

.trailer {
  height: 20rem;
}
.trailer-container {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 5rem;
  padding: 2rem;
}

/* ------------------- Form Group 6[Arrival->Returning Goods] ----------------*/

.pallet {
  width: 18rem;
}

.pallets-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}
.pallet-container {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 2rem;
}
