/* ------------------- Form Group 0 ----------------*/

.form-group1 {
  grid-gap: 4rem;
}

/* ------------------- Form Group 1 [safety]----------------*/

.base,
.mat-button-toggle {
  color: #d5d3d2;
  font-size: 4rem;
  cursor: pointer;
}

.checked {
  color: #25ae88;
  font-size: 4rem;
  cursor: pointer;
}

.unchecked {
  color: #d75a4a;
}

/* ---- Safety items[0] ------ */
.safety-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.item-container {
  display: grid;
  grid-template-rows: max-content max-content;
}

.safety-item {
  width: 9vw;
  justify-self: center;
}
.worker {
  height: 40vh;
  justify-self: center;
}

.icon-container {
  align-items: center;
  display: grid;
}

/* ------------------- Form Group 2[truck inspection] ----------------*/

.inspected-truck {
  height: 25rem;
  cursor: pointer;
}

.inspected-grid {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
}
.toggle-group-wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
}

/* ------------------- Form Group 4[Arrival | Departure] ----------------*/

.truck-container {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 5rem;
  width: 100%;
}

.warehouse-img {
  max-width: 40rem;
}

.truck {
  height: 7rem;
}
.truck-departure {
  height: 7.6rem;
}

/* ------------------- Form Group 5[Arrival] ----------------*/

.trailer {
  height: 20rem;
}
.trailer-container {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 5rem;
  padding: 2rem;
}

/* ------------------- Form Group 6[Arrival->Returning Goods] ----------------*/

.pallet {
  width: 18rem;
}

.pallets-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}
.pallet-container {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 2rem;
}

/* ------------------- Form Group 7[ Departure] ----------------*/
.article-departure {
  justify-items: stretch;
}
