<section class="flags-container">
  <a (click)="switchLanguage('dk')" routerLink="/safety-rules">
    <img class="flag" src="../../assets/svg/da.svg" alt="Danish flag" />
    <h3>
      Dansk
    </h3>
  </a>
  <a (click)="switchLanguage('en')" routerLink="/safety-rules">
    <img class="flag" src="../../assets/svg/en.svg" alt="British flag" />
    <h3>
      English
    </h3>
  </a>
  <a (click)="switchLanguage('de')" routerLink="/safety-rules">
    <img class="flag" src="../../assets/svg/de.svg" alt="German flag" />
    <h3>
      Deutsch
    </h3>
  </a>
  <a (click)="switchLanguage('pl')" routerLink="/safety-rules">
    <img class="flag" src="../../assets/svg/pl.svg" alt="Polish flag" />
    <h3>
      Polski
    </h3>
  </a>
  <a (click)="switchLanguage('ro')" routerLink="/safety-rules">
    <img class="flag" src="../../assets/svg/ro.svg" alt="Romanian flag" />
    <h3>Românesc</h3>
  </a>
  <a (click)="switchLanguage('bg')" routerLink="/safety-rules">
    <img class="flag" src="../../assets/svg/bg.svg" alt="Bulgarian flag" />
    <h3>български</h3>
  </a>
</section>

<footer class="footer">
  <button mat-button routerLink="/drivers-register">
    Driver Register
  </button>
  <span></span>
  <button mat-button routerLink="/quiz-intro">Quiz</button>
  <span></span>
  <button mat-button routerLink="/workplace-safety">
    Workplace Safety
  </button>
</footer>
