.flags-container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  justify-items: center;
  align-items: center;
}

.flags-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 4rem 8rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  justify-content: center;
}

footer.footer span {
  background-color: #474747;
  height: 50%;
  width: 1px;
  align-self: center;
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .flags-container {
    display: grid;
    width: 100%;
    min-height: calc(100vh - 96px);
    justify-items: center;
    align-items: center;
  }
}
